<div class="page-Bottom2">
  <div class="container2">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Sign In with Email</h2>
          </div>
          <div class="panel-body">
            <div class="form-group">      
              <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: " btn-hollow.btn" %>
            </div>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <!-- Form Fields -->

              <div class="form-group">
                <%= f.label "Email" %><br />
                <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
              </div>

              <div class="form-group">
                <%= f.label "Password" %><br />
                <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
              </div>

              <div class="form-group">                
                <%= f.label :remember_me, class: "center-block" do %>
                  <div id="remember-me">Remember Me</div>
                  <%= f.check_box :remember_me %>
                <% end %>
              </div>

              <div class="form-group">
                <%= button_tag "Log In", type: 'submit', id: "loginbutton", class: "btn btn-primary secondary-background" %>
                <% end %>
              </div>

              <div class="form-group">
                <%= link_to "Forgot Password", new_user_password_path, :method => :get, class: " btn-hollow.btn", id: "forgotbutton" %>
              </div>

              <div class="form-group">
                <%= link_to "Sign Up", "/users/sign_up",  class: "link_to", :method => :get, class: " btn-hollow.btn" %>
              </div>
    <%# link_to "Resend Confirmation Email", "/users/confirmation/new", :method => :get, class: "login-link" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

