<!-- Header -->
<div class="topBanner">
  <div class="profile-Banner">
    <div class="banner-Overlay"></div>
    <img src="<%= @user.cover_picture_url %>">
  </div>
  <div class="user-picture">
    <img src="<%= @user.profile_picture_url %>">
  </div>
  <div class="profile-pagename">
    <%= @user.first_name %>
    <%= @user.last_name %>
  </div>
  <div class="profile-Bio">
    <%= @user.bio %>
  </div>
</div>


<!-- Stats Bar + Profile Picture + Artist Names -->
<div class="statsBar">
    <% if @user.clique.present? %>
  <div class="container2">
<% else %> 
  <div class="container4">
    <% end %>
  <!-- Buttons -->
    <div id="buttons">
      <%= render :partial => "/users/partials/buttons", :locals => { user: @user } %>
    </div>
  </div>
</div>



<div class="profile-bottom">
  <% if @user.clique.present? %>
  <div class="container2">

    <!-- Left Column  -->  
    <div class="leftCol">
    <!-- Post Form if own profile -->
      <% if @user == current_user %>
        <div class="post-Box">
          <%= render :partial => "/users/partials/post_form", :locals => { post: @post } %>
        </div>
      <% end %>
      <!-- Content -->
      <div id="content">
        <%= render :partial => "/users/partials/all", :locals => { content: @content } %>
      </div>
    </div>

    <!-- Right Column -->
    <div class="rightCol">
      <%= render :partial => "/users/partials/profile_right", :locals => { user: @user } %>
    </div>
  </div>

<% else %> 
  <div class="container4">

    <!-- Left Column  -->  
    <div class="leftCol">
    <!-- Post Form if own profile -->
      <% if @user == current_user %>
        <div class="post-Box">
          <%= render :partial => "/users/partials/post_form", :locals => { post: @post } %>
        </div>
      <% end %>
      <!-- Content -->
      <div id="content">
        <%= render :partial => "/users/partials/all", :locals => { content: @content } %>
      </div>
    </div>

<% end %>

</div>

