<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container3">
      <div class="navbar-header">
        <%= link_to "Clique", root_path, :class => "navbar-brand" %>
      </div>

      <div class="collapse navbar-collapse">
        <% if current_user %>
          <!-- Links on the left -->
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", home_path %></li>
            <li><%= link_to "Explore", explore_path %></li>


          </ul>

      <div class="logo">
      </div>







          <!-- Account dropdown menu-->
          <ul class="nav navbar-nav navbar-right">

            <li><%= link_to "Upload", new_track_path %></li>


              <%= link_to image_tag(@current_user.profile_picture), current_user, :class => 'nav-pic' %>


            <li class="dropdown">










              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= @current_user.first_name %> <%= @current_user.last_name %><span class="caret"></span></a>


              <ul class="dropdown-menu">
                  <div class="pointer" style="content: '';position: absolute;border-style: solid;border-width: 0 16px 16px;border-color:  #D7D7D7  transparent;display: block;width: 0;z-index: 1;top: -15px;left: 94px; margin-top: -1px; opacity: 0.8;">   
                  </div>



              <div class="pointer" style="content: '';position: absolute;border-style: solid;border-width: 0 15px 15px;border-color: #FFFFFF transparent;display: block;width: 0;z-index: 1;top: -15px;left: 94px; margin: 1px 0px 0px 1px;">
            


              </div> 
                <li><%= link_to "Profile", current_user %></li> 
                <li><%= link_to "Edit Profile", edit_profile_path %></li>
                <li><%= link_to "Settings", settings_path %></li>
                <li><%= link_to "Clique Settings", clique_settings_path %></li>
                <li><%= link_to "Orders", orders_path %></li>
                <!-- NOTE: This is a buton because Rails is stupid and think wont work as a link -->
                <li><%= button_to 'Logout', destroy_user_session_path, :method => :delete %></li>
                <!-- Trust me, I spent hours trying to get it to work as a link -->
              </ul>
            </li>
          </ul>
        <% else %>
          <!-- Shown when signed out -->

          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Explore", explore_path %></li>
          </ul>






          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Log In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path, 'data-skip-pjax' => true %></li>
          </ul>
        <% end %>
      </div>
    </div>
</nav>
