<!DOCTYPE html>
 <html>
 <head>
   <title>Clique</title>
   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   <%= csrf_meta_tags %>
<meta name="viewport" content="width=device-width, initial-scale=1, , minimal-ui">
<meta charset="utf-8">
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
   
 </head>
 <body>
   <div data-pjax-container>
     <!-- Flash Box -->
     <!--<%= render :partial => "shared/flash_box" %>-->
     <%= yield %>
   </div>
 </body>
 </html>
